@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&family=Raleway:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



html,body,#root {
    height: 100%;
}

body {
    background: #FFF7ED;
    color: #333;
}